[submodule "lpc55xx-device"]
    path = drivers/device/lpc55xx-device
    url = https://github.com/Ludovic-Lesur/lpc55xx-device.git
[submodule "lpc55xx-registers"]
    path = drivers/registers/lpc55xx-registers
    url = https://github.com/Ludovic-Lesur/lpc55xx-registers.git
[submodule "lpc55xx-drivers"]
    path = drivers/peripherals/lpc55xx-drivers
    url = https://github.com/Ludovic-Lesur/lpc55xx-drivers.git
[submodule "embedded-utils"]
    path = drivers/utils/embedded-utils
    url = https://github.com/Ludovic-Lesur/embedded-utils.git
